<p-drawer [(visible)]="visible" class="w-80">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold text-sm text-primary">Ocio, Motor y Diversión</span>
        <app-omd-logo class="self-center" />
      </div>
    </ng-template>


    <p-panelmenu [model]="items" class="w-full overflow-hidden">
    <ng-template #item let-item>
        <ng-container *ngIf="item.route; else urlRef">
            <a [routerLink]="item.route" class="flex align-items-center
                cursor-pointer text-color px-3 py-2">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #urlRef>
            <a *ngIf="item.url; else noLink" [href]="item.url" class="flex align-items-center w-full
                cursor-pointer text-color px-3 py-2">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
            <ng-template #noLink>
                <span class="flex items-center cursor-pointer text-surface-700 dark:text-surface-0 px-4 py-2">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                    <i *ngIf="item.items" class="pi pi-angle-down text-primary ml-auto"></i>
                </span>
            </ng-template>
        </ng-template>
    </ng-template>
    </p-panelmenu>


    <ng-template #footer>
        <div class="flex items-center gap-2">
            <button pButton label="Account" icon="pi pi-user" class="w-full" outlined></button>
            <button
                pButton
                label="Logout"
                icon="pi pi-sign-out"
                class="w-full"
                severity="danger"
                text
            ></button>
        </div>
    </ng-template>

</p-drawer>
<button pButton (click)="visible = true" icon="pi pi-plus"></button>
